@page "/"

<PageTitle>Мои проекты</PageTitle>

<h1>Мои проекты</h1>

<div>

    @foreach (var project in projects)
    {
        <div class="card m-4">
            <div class="card-header">
                @project.Title
            </div>

            <div class="card-body">
                <p>Описание: <span>@project.Description</span></p>
                <p>Кол-во участников: <span>@project.CountMembers</span></p>
                <p>Приватность: <span>@project.PrivateStatus</span></p>
                <p>Статус: <span>@project.Status</span></p>
                <p>Создано: <span>@project.CreatedDate</span></p>
            </div>

            <div class="card-footer">
                <a class="btn btn-primary" href="#">Перейти...</a>
            </div>
        </div>

    }
</div>

@code {
    IEnumerable<ProjectItem> projects = new List<ProjectItem>
    {
        new ProjectItem { Id = 1, Title = "Нахождение костного мозга", Description = "Создание алгоритмического аппарата", CountMembers = 4, CreatedDate = DateTime.Now, PrivateStatus = 1, Status = 1  },
        new ProjectItem { Id = 2, Title = "Нахождение костного мозга", Description = "Создание алгоритмического аппарата", CountMembers = 4, CreatedDate = DateTime.Now, PrivateStatus = 1, Status = 1  }

    };


}